In [1]:
import pandas as pd

In [2]:
#load compiled data into a dataframe
df = pd.read_csv('./Compiled_Trips_Data/compiled_data.csv')

C:\Users\Collin Natterstad\AppData\Local\Temp\ipykernel_70316\3122046794.py:2: DtypeWarning: Columns (6,8) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('./Compiled_Trips_Data/compiled_data.csv')

In [3]:
#shows the top rows of the table -> shows us what the table looks like. 
df.head()

,Unnamed: 0,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,0,A847FADBBC638E45,docked_bike,2020-04-26 17:45:14,2020-04-26 18:12:03,Eckhart Park,86,Lincoln Ave & Diversey Pkwy,152.0,41.8964,-87.6610,41.9322,-87.6586,member
1,1,5405B80E996FF60D,docked_bike,2020-04-17 17:08:54,2020-04-17 17:17:03,Drake Ave & Fullerton Ave,503,Kosciuszko Park,499.0,41.9244,-87.7154,41.9306,-87.7238,member
2,2,5DD24A79A4E006F4,docked_bike,2020-04-01 17:54:13,2020-04-01 18:08:36,McClurg Ct & Erie St,142,Indiana Ave & Roosevelt Rd,255.0,41.8945,-87.6179,41.8679,-87.6230,member
3,3,2A59BBDF5CDBA725,docked_bike,2020-04-07 12:50:19,2020-04-07 13:02:31,California Ave & Division St,216,Wood St & Augusta Blvd,657.0,41.9030,-87.6975,41.8992,-87.6722,member
4,4,27AD306C119C6158,docked_bike,2020-04-18 10:22:59,2020-04-18 11:15:54,Rush St & Hubbard St,125,Sheridan Rd & Lawrence Ave,323.0,41.8902,-87.6262,41.9695,-87.6547,casual

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11812079 entries, 0 to 11812078
Data columns (total 14 columns):
 #   Column              Dtype
---  ------              -----
 0   Unnamed: 0          int64
 1   ride_id             object
 2   rideable_type       object
 3   started_at          object
 4   ended_at            object
 5   start_station_name  object
 6   start_station_id    object
 7   end_station_name    object
 8   end_station_id      object
 9   start_lat           float64
 10  start_lng           float64
 11  end_lat             float64
 12  end_lng             float64
 13  member_casual       object
dtypes: float64(4), int64(1), object(9)
memory usage: 1.2+ GB

In [27]:
df['started_at'] = pd.to_datetime(df['started_at'])
df['ended_at'] = pd.to_datetime(df['ended_at'])

In [28]:
'''For this problem we are not concerned with the station name or ID, we want to answer the question | How do Casual riders and Members Differ? |
We will load a new data frame with these factors removed from consideration and ONLY track ride_id, rideable_type, start/end station, start/end time (we will add this later), member casual
'''
narrow_df = df[['ride_id','rideable_type','member_casual','start_station_name','end_station_name']]

In [29]:
narrow_df.head()

,ride_id,rideable_type,member_casual,start_station_name,end_station_name
0,A847FADBBC638E45,docked_bike,member,Eckhart Park,Lincoln Ave & Diversey Pkwy
1,5405B80E996FF60D,docked_bike,member,Drake Ave & Fullerton Ave,Kosciuszko Park
2,5DD24A79A4E006F4,docked_bike,member,McClurg Ct & Erie St,Indiana Ave & Roosevelt Rd
3,2A59BBDF5CDBA725,docked_bike,member,California Ave & Division St,Wood St & Augusta Blvd
4,27AD306C119C6158,docked_bike,casual,Rush St & Hubbard St,Sheridan Rd & Lawrence Ave

In [30]:
#let's check to make sure columns and rows exist as they should
narrow_df.shape

(11812079, 5)

In [31]:
#create new variable that stores the narrow data incase we have to start over
expanded_narrow_df = narrow_df

In [32]:
'''We have our desired rows and columns. Next we need to look at segmenting date and time. The date itself will help show which days are the most popular.
The time will show when bikes are typically demanded and for how '''

expanded_narrow_df['start_date'] = pd.to_datetime(df['started_at'])
expanded_narrow_df['end_date'] = pd.to_datetime(df['ended_at'])

C:\Users\Collin Natterstad\AppData\Local\Temp\ipykernel_63500\2661063474.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  expanded_narrow_df['start_date'] = pd.to_datetime(df['started_at'])
C:\Users\Collin Natterstad\AppData\Local\Temp\ipykernel_63500\2661063474.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  expanded_narrow_df['end_date'] = pd.to_datetime(df['ended_at'])

In [33]:
expanded_narrow_df.head()

,ride_id,rideable_type,member_casual,start_station_name,end_station_name,start_date,end_date
0,A847FADBBC638E45,docked_bike,member,Eckhart Park,Lincoln Ave & Diversey Pkwy,2020-04-26 17:45:14,2020-04-26 18:12:03
1,5405B80E996FF60D,docked_bike,member,Drake Ave & Fullerton Ave,Kosciuszko Park,2020-04-17 17:08:54,2020-04-17 17:17:03
2,5DD24A79A4E006F4,docked_bike,member,McClurg Ct & Erie St,Indiana Ave & Roosevelt Rd,2020-04-01 17:54:13,2020-04-01 18:08:36
3,2A59BBDF5CDBA725,docked_bike,member,California Ave & Division St,Wood St & Augusta Blvd,2020-04-07 12:50:19,2020-04-07 13:02:31
4,27AD306C119C6158,docked_bike,casual,Rush St & Hubbard St,Sheridan Rd & Lawrence Ave,2020-04-18 10:22:59,2020-04-18 11:15:54

In [34]:
'''Our new dataframe is more or less in the shape that we want it. WE are tracking the use characteristics of the member and casual groups.
Considering this data spans 2020 - 2022 we can gain more insight into how the customers interact with the service.
Now we need to clean the data of blank or null values. While this will impact the total count of our data, with over 1 million rows,
there is statistical significance even at a 70% (or ~ 300,000 rows) attrition rate

The next step is to understand how much of the current dataframe is missing/NaN and summarize that. 
'''
expanded_narrow_df.isnull().sum()

ride_id                     0
rideable_type               0
member_casual               0
start_station_name    1230117
end_station_name      1329051
start_date                  0
end_date                    0
dtype: int64

In [35]:
'''Conveniently, we're only missing data from ~12.5k rows. 
Relatively, this is about 1% of all data values.
Next we will look at the ride_ids and ensure they are a similar format over the entire frame.
'''
expanded_narrow_df['ride_id'].str.len().value_counts()

16    11812079
Name: ride_id, dtype: int64

In [36]:
#dropping any row (index) with a missing value. 
dropped_df = expanded_narrow_df.dropna(how='any')

In [37]:
#looking at index count and head for new df. 
dropped_df.info()
dropped_df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9975093 entries, 0 to 11811905
Data columns (total 7 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   member_casual       object
 3   start_station_name  object
 4   end_station_name    object
 5   start_date          datetime64[ns]
 6   end_date            datetime64[ns]
dtypes: datetime64[ns](2), object(5)
memory usage: 608.8+ MB

,ride_id,rideable_type,member_casual,start_station_name,end_station_name,start_date,end_date
0,A847FADBBC638E45,docked_bike,member,Eckhart Park,Lincoln Ave & Diversey Pkwy,2020-04-26 17:45:14,2020-04-26 18:12:03
1,5405B80E996FF60D,docked_bike,member,Drake Ave & Fullerton Ave,Kosciuszko Park,2020-04-17 17:08:54,2020-04-17 17:17:03
2,5DD24A79A4E006F4,docked_bike,member,McClurg Ct & Erie St,Indiana Ave & Roosevelt Rd,2020-04-01 17:54:13,2020-04-01 18:08:36
3,2A59BBDF5CDBA725,docked_bike,member,California Ave & Division St,Wood St & Augusta Blvd,2020-04-07 12:50:19,2020-04-07 13:02:31
4,27AD306C119C6158,docked_bike,casual,Rush St & Hubbard St,Sheridan Rd & Lawrence Ave,2020-04-18 10:22:59,2020-04-18 11:15:54

In [38]:
dup_df = dropped_df.drop_duplicates(subset='ride_id')

In [39]:
dup_df.head()

,ride_id,rideable_type,member_casual,start_station_name,end_station_name,start_date,end_date
0,A847FADBBC638E45,docked_bike,member,Eckhart Park,Lincoln Ave & Diversey Pkwy,2020-04-26 17:45:14,2020-04-26 18:12:03
1,5405B80E996FF60D,docked_bike,member,Drake Ave & Fullerton Ave,Kosciuszko Park,2020-04-17 17:08:54,2020-04-17 17:17:03
2,5DD24A79A4E006F4,docked_bike,member,McClurg Ct & Erie St,Indiana Ave & Roosevelt Rd,2020-04-01 17:54:13,2020-04-01 18:08:36
3,2A59BBDF5CDBA725,docked_bike,member,California Ave & Division St,Wood St & Augusta Blvd,2020-04-07 12:50:19,2020-04-07 13:02:31
4,27AD306C119C6158,docked_bike,casual,Rush St & Hubbard St,Sheridan Rd & Lawrence Ave,2020-04-18 10:22:59,2020-04-18 11:15:54

In [40]:
indexed_df = dup_df.set_index('ride_id')

In [46]:
indexed_df.info()
indexed_df.head()

<class 'pandas.core.frame.DataFrame'>
Index: 9974885 entries, A847FADBBC638E45 to 64667503E0CD9576
Data columns (total 6 columns):
 #   Column              Dtype
---  ------              -----
 0   rideable_type       object
 1   member_casual       object
 2   start_station_name  object
 3   end_station_name    object
 4   start_date          datetime64[ns]
 5   end_date            datetime64[ns]
dtypes: datetime64[ns](2), object(4)
memory usage: 532.7+ MB

,rideable_type,member_casual,start_station_name,end_station_name,start_date,end_date
ride_id,,,,,,
A847FADBBC638E45,docked_bike,member,Eckhart Park,Lincoln Ave & Diversey Pkwy,2020-04-26 17:45:14,2020-04-26 18:12:03
5405B80E996FF60D,docked_bike,member,Drake Ave & Fullerton Ave,Kosciuszko Park,2020-04-17 17:08:54,2020-04-17 17:17:03
5DD24A79A4E006F4,docked_bike,member,McClurg Ct & Erie St,Indiana Ave & Roosevelt Rd,2020-04-01 17:54:13,2020-04-01 18:08:36
2A59BBDF5CDBA725,docked_bike,member,California Ave & Division St,Wood St & Augusta Blvd,2020-04-07 12:50:19,2020-04-07 13:02:31
27AD306C119C6158,docked_bike,casual,Rush St & Hubbard St,Sheridan Rd & Lawrence Ave,2020-04-18 10:22:59,2020-04-18 11:15:54

In [43]:
indexed_df.to_csv('compiled_data_clean.csv',',',encoding='utf-8')